<div class="wrapper"> 
	<div class="wrap-container">
			<div class="container">
                     <div class="row">
                        <div class="col-lg-13">
                          <img class="logo" src="assets/images/logo.png">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 title">
                          <h4>LOCK IT UP,</h4>
                          <h3>HOME LOAN</h3>      
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 savings">
                        <h5>FIXED TERM SAVINGS</h5>            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 savings">
                        <h6>Your Investment</h6> 
                    
                        <div class="submit">
                            <input id="amount" type="text" [(ngModel)] = "value" class="textbx" placeholder="Type your Amount" >
                            <button (click) = "addValues()" type="submit" class="sub" id="btn-text"></button>
                        </div>         
                        <div class="clear">
                        		</div>  
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 rate">
                        <h4>INTEREST RATE</h4>   
                    
                        <div class="rates">
                        <div><div class="months">12 Months <span class="strong">(0.90% AER)</span></div><div class="shape"><img src="assets/images/shape.png"></div><input id="12month" type="text" name="12month"  class="textbx" [(ngModel)] = "result1" placeholder="" readonly></div>
                        <div><div class="months">24 Months <span class="strong">(1.00% AER)</span></div><div class="shape"><img src="assets/images/shape.png"></div><input id="18month" type="text" name="18month"  class="textbx" [(ngModel)] = "result2" placeholder="" readonly></div>
                        <div><div class="months">36 Months <span class="strong">(1.20% AER)</span></div><div class="shape"><img src="assets/images/shape.png"></div><input id="36month" type="text" name="36month"  class="textbx" [(ngModel)] = "result3"placeholder="" readonly></div>
                        
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 but">
                         <a class="invest" id="invest" href="#" target="_blank">Start your Investment now</a>         
                        </div>
                    </div>

</div>

</div>
</div>
